<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d94559e-345f-46f6-9b75-941d16da4872" Alias="Form" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Form</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2020-10-31T19:15:05</CreateDate>
    <NodeName Default="Form" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="21e84dd8-0eaa-437b-96a2-fcd63e355689">Form</Template>
  </Info>
  <Properties>
    <formPicker>
      <Value><![CDATA[52079b6e-22e8-4a0e-b457-8d946a2b7d20]]></Value>
    </formPicker>
  </Properties>
</Content>