<?xml version="1.0" encoding="utf-8"?>
<DataType Key="affdf499-3c37-4961-a17e-4748fb0a5fa7" Alias="Form Picker" Level="1">
  <Info>
    <Name>Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": []
}]]></Config>
</DataType>