<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc3fd72b-5e73-4764-bd3d-bc41729c65fc" Alias="form" Level="1">
  <Info>
    <Name>Form</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Form</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="21e84dd8-0eaa-437b-96a2-fcd63e355689">Form</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2e349b6e-bad7-4ce7-b150-5484241f0d10</Key>
      <Name>Form picker</Name>
      <Alias>formPicker</Alias>
      <Definition>affdf499-3c37-4961-a17e-4748fb0a5fa7</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>